<p id="notice"><%= notice %></p>

<p>
  <strong>Guid:</strong>
  <%= @story.guid %>
</p>

<p>
  <strong>Link:</strong>
  <%= @story.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Body:</strong>
  <%= @story.body %>
</p>

<p>
  <strong>Largeimage:</strong>
  <%= @story.largeimage %>
</p>

<p>
  <strong>Smallimage:</strong>
  <%= @story.smallimage %>
</p>

<p>
  <strong>Source:</strong>
  <%= @story.source %>
</p>

<p>
  <strong>Author:</strong>
  <%= @story.author %>
</p>

<%= link_to 'Back', stories_path %>
